@media (max-width: 500px) {
    html, body{
        width: 100%;
        height: 100%;
    }

    body{
        font-family: "Roboto", sans-serif;
        color: #fff;
        padding: 0px;
        margin: 0px;
        background: radial-gradient( #234759, #06131C);
    }

    /*USER И ЛОГО*/
    .head .user p{
        font-size: 24px;
        font-weight: 600;
    }

    .head h1{
        font-size: 24px;
        font-weight: 600;
    }

    .head .user img{
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }

    .head .user{
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 64px 20px 0px 20px;
    }

    /*БАЛАНС, НА ВЫВОД, СКОРОСТЬ*/
    .balance .ton .color{
        color: #778B95;
        font-size: 16px;
        display: flex;
        justify-content: center;
        width: 115px;
    }

    .balance .ton .background{
        width: 115px;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .balance .ton .background p{
        padding-left: 24%;
    }

    .balance .ton .background img{
        width: 24px;
        height: 24px;
    }

    .balance{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    /*СЕКЦИЯ С ПРОГРЕС*/
    .progress .level span{
        font-size: 16px;
        font-weight: 600;
    }

    .progress .level p{
        font-size: 24px;
        font-weight: 600;
    }

    .progress .streng p{
        font-size: 16px;
        font-weight: 600;
    }

    .progress .streng{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .progress{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    
    /*СЕКЦИЯ С ПРОГРЕС БАРОМ*/
    .progress-bar{
        background-color: #fff;
        width: 92%;
        height: 16px;
        border-radius: 24px;
        margin: 0px 20px;
    }

    .progress-bar .bar{
        background-color: #06131C;
        width: 70%;
        height: 16px;
        border-radius: 24px;
    }

    /*СЕКЦИЯ С КНОПКОЙ*/
    .button img{
        width: 80%;
        height: 80%;
    }

    .button{
        padding-top: 48px;
        display: flex;
        justify-content: center;
    }

    /*СЕКЦИЯ С ИГРАМИ*/
    .games p{
        color: #ffffff;
        font-size: 20px;
    }

    .games .background img{
        width: 100px;
        height: auto;
        display: flex;
    }

    .games .background{
        width: 180px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .games .position{
        display: flex;
        justify-content: space-between;
    }

    .games{
        padding: 0px 20px;
    }

    /*НАВИГАЦИЯ*/
    .navigation a{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    
    .navigation nav{
        display: flex;
        gap: 20px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        padding-top: 32px;
    }

    /*НИЖНЕЕ МЕНЮ*/
    .menu{
        width: 83%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        margin: 0px 20px;
    }

    .menu img{
        width: 24px;
        height: 24px;
        margin: 0% 30%;
    }

    .menu .home{
        text-decoration: none;
        color: #fff;
    }

    .menu p{
        height: 0px;
        margin-top: 5px;
    }

    .menu .market{
        text-decoration: none;
        color: #bbbbbb;
    }

    .menu .bonus{
        text-decoration: none;
        color: #bbbbbb;
    }

    .menu .wallet{
        text-decoration: none;
        color: #bbbbbb;
    }

    .menu .chat{
        text-decoration: none;
        color: #bbbbbb;
    }

    /*ОТСТУП*/
    .padding{
        padding-bottom: 64px;
    }
}

@media (max-width: 430px) {
    html, body{
        width: 100%;
        height: 100%;
    }

    body{
        font-family: "Roboto", sans-serif;
        color: #fff;
        padding: 0px;
        margin: 0px;
        background: radial-gradient( #234759, #06131C);
    }

    /*USER И ЛОГО*/
    .head .user p{
        font-size: 24px;
        font-weight: 600;
    }

    .head h1{
        font-size: 24px;
        font-weight: 600;
    }

    .head .user img{
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }

    .head .user{
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 64px 20px 0px 20px;
    }

    /*БАЛАНС, НА ВЫВОД, СКОРОСТЬ*/
    .balance .ton .color{
        color: #778B95;
        font-size: 16px;
        display: flex;
        justify-content: center;
        width: 115px;
    }

    .balance .ton .background{
        width: 115px;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .balance .ton .background p{
        padding-left: 24%;
    }

    .balance .ton .background img{
        width: 24px;
        height: 24px;
    }

    .balance{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    /*СЕКЦИЯ С ПРОГРЕС*/
    .progress .level span{
        font-size: 16px;
        font-weight: 600;
    }

    .progress .level p{
        font-size: 24px;
        font-weight: 600;
    }

    .progress .streng p{
        font-size: 16px;
        font-weight: 600;
    }

    .progress .streng{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .progress{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    
    /*СЕКЦИЯ С ПРОГРЕС БАРОМ*/
    .progress-bar{
        background-color: #fff;
        width: 92%;
        height: 16px;
        border-radius: 24px;
        margin: 0px 20px;
    }

    .progress-bar .bar{
        background-color: #06131C;
        width: 70%;
        height: 16px;
        border-radius: 24px;
    }

    /*СЕКЦИЯ С КНОПКОЙ*/
    .button img{
        width: 80%;
        height: 80%;
    }

    .button{
        padding-top: 48px;
        display: flex;
        justify-content: center;
    }

    /*СЕКЦИЯ С ИГРАМИ*/
    .games p{
        color: #ffffff;
        font-size: 20px;
    }

    .games .background img{
        width: 100px;
        height: auto;
        display: flex;
    }

    .games .background{
        width: 180px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .games .position{
        display: flex;
        justify-content: space-between;
    }

    .games{
        padding: 0px 20px;
    }

    /*НАВИГАЦИЯ*/
    .navigation a{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    
    .navigation nav{
        display: flex;
        gap: 20px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        padding-top: 32px;
    }

    /*НИЖНЕЕ МЕНЮ*/
    .menu{
        width: 83%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        margin: 0px 20px;
    }

    .menu img{
        width: 24px;
        height: 24px;
        margin: 0% 30%;
    }

    .menu .home{
        text-decoration: none;
        color: #fff;
    }

    .menu p{
        height: 0px;
        margin-top: 5px;
    }

    .menu .market{
        text-decoration: none;
        color: #bbbbbb;
    }

    .menu .bonus{
        text-decoration: none;
        color: #bbbbbb;
    }

    .menu .wallet{
        text-decoration: none;
        color: #bbbbbb;
    }

    .menu .chat{
        text-decoration: none;
        color: #bbbbbb;
    }

    /*ОТСТУП*/
    .padding{
        padding-bottom: 64px;
    }
}
