@media (max-width: 500px) {
    body{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .screen img{
        width: 100%;
        height: auto;
    }

    .screen .btn{
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0% 10%;
        width: 80%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .navigation .elipce1{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation .elipce2{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation .elipce3{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 1);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation .elipce4{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation{
        display: flex;
        padding: 0px 170px;
        gap: 10px;
        position: absolute;
        bottom: 0;
        margin-bottom: 90px;
    }
}

@media (max-width: 430px) {
    body{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .screen img{
        width: 100%;
        height: auto;
    }

    .screen .btn{
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0% 10%;
        width: 80%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .navigation .elipce1{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation .elipce2{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation .elipce3{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 1);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation .elipce4{
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: 10px;
        border: 1px solid;
        border-color: #1D1D1D;
        border-radius: 24px;
    }

    .navigation{
        display: flex;
        padding: 0px 170px;
        gap: 10px;
        position: absolute;
        bottom: 0;
        margin-bottom: 90px;
    }
}